.cards-list {
  @include flex-wrap (flex, wrap, 30px);
    &__items {
      width: 100%;
      
      @include tablet {
        flex-basis: calc((100% - 30px) / 2);
      }
      @include desktop {
        flex-basis: calc((100% - 90px) / 4);
      }
    }
    &__item { 
      @include flex(flex, center, center, null);
      margin-bottom: 30px;
    
      width: 100%;
      height: 120px;
      background-color: var(--secondary-background-color);
      border-radius: 4px;
    }
    &__subtitle {
      margin-bottom: 10px;
      text-transform: uppercase;
      color: var(--primary-header-color);
      @include fonts(null, 14px, 16px, 0.03em);

      @media screen and (min-width: 320px) and (max-width: 767px){
        text-align: center;
      }
    }
    &__text {
      @include fonts(null, 14px, 24px, 0.03em);
      color: #757575;
    }
  }




  