.hero {
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: var(--bg-gradient), url(./images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desktop {
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
    }
  }

    &__title {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 360px;
      @include fonts(900, 26px, 42px, 0.06em);
      text-align: center;
      text-transform: uppercase;
      color: var(--secondary-header-color);
      @include desktop {
        max-width: 696px;
        @include fonts(900, 44px, 60px, 0.06em);
      }
    }
}
  
.hero__btn{
  display: block;
  margin: 0 auto;
  min-width: 216px;
} 
