p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--background-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}