@mixin flex($d:flex, $ai:center, $jc:center, $cg:30px) {
    display: $d;
    align-items: $ai;
    justify-content: $jc;
    column-gap: $cg;
  }
@mixin fonts($fw:500, $fs, $lh:24px, $ls:0.03em) { 
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh/$fs;
    letter-spacing: $ls;
}
