:root {
    --text-color: #333333;
    --primary-header-color: #212121;
    --secondary-header-color: #ffffff;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --logo-color: #000000;
    --gap: 30px;
    --main-font: Roboto, sans-serif;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}  